* text=auto

*.cs text
*.shader text
*.hlsl text
*.cginc text
*.asset text
*.meta text
*.unity text
*.prefab text
*.mat text
*.json text
*.inputactions text

*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
