[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Assets/_Recovery/
Assets/_Recovery.meta
Assets/Screenshots/
Assets/Screenshots.meta

*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.lscache

.vs/
.vscode/
.idea/
.git_*_backup_*/

*.apk
*.aab
*.unitypackage

sysinfo.txt
